@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #f2f2ff;

  color: #232323;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.p-j-header.is-open .p-j-header-background {
  left: 0;
}
.p-j-header-button-wrapper {
  margin-left: auto;
}
.p-j-header-icon {
  display: none;
}

.p-j-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.p-j-navigation-list.is-open {
  right: 0;
}
.p-j-header-icon-menu {
  display: block;
}

.p-j-header-icon-button.is-open .p-j-header-icon-menu {
  display: none;
}

.p-j-header-icon-button.is-open .p-j-header-icon-close {
  display: block;
}

.p-j-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 80px;
  background: #59d7fc;
}

.p-j-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #59d7fc;
}
.p-j-header.is-open .p-j-header-background {
  left: 0;
}
.p-j-header-button-wrapper {
  background: #5696f9;

  border-bottom-right-radius: 24px;
  border-bottom-left-radius: 24px;
  padding: 12px;

  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.p-j-header-icon-menu {
  display: block;
}

.p-j-header-icon-button.is-open .p-j-header-icon-menu {
  display: none;
}

.p-j-header-icon-button.is-open .p-j-header-icon-close {
  display: block;
}

.p-j-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 0px 16px;
  position: relative;
}

.p-j-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: auto;
  transition: 0.3s;
  z-index: 999;
  padding: 48px 0 100px;

  gap: 24px;
  background: #59d7fc;
}

.p-j-navigation-list.is-open {
  right: 0;
}

.p-j-navigation-link {
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  font-family: Rubik;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  leading-trim: NONE;
  line-height: 18px;
  letter-spacing: 0px;
  color: #232323;
}

.p-j-navigation-link:hover,
.p-j-navigatioт-link:focus {
  color: #045cb5;
}

.p-j-header.is-open {
  background-color: transparent;
}

.p-j-navigation-img {
  display: none;
}

@media screen and (min-width: 1202px) {
  .p-j-navigation-img {
    display: block;
    margin-right: 460px;
  }
  .p-j-policy-terms-header-icon-menu {
    display: none;
  }
  .p-j-header-button-wrapper {
    display: none;
  }
  .p-j-header {
    width: 100%;
    height: 70px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #5696f9;
    width: 1296px;
    height: 64px;
    padding-top: 12px;
    padding-right: 24px;
    padding-bottom: 12px;
    padding-left: 24px;

    border-bottom-right-radius: 24px;
    border-bottom-left-radius: 24px;
  }

  .p-j-header-icon-button {
    display: none;
  }
  .p-j-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    padding: 0 0px;
    margin: auto;
  }

  .p-j-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 24px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  .p-j-navigation-link {
    font-family: Rubik;
    font-weight: 500;
    font-style: Medium;
    font-size: 15px;
    leading-trim: NONE;
    line-height: 18px;
    letter-spacing: 0px;
  }
}

.p-j-home {
  margin: auto;
  background: #59d7fc;
}
.p-j-home-container {
  margin: auto;
  padding-top: 80px;
}
.p-j-home-container-top {
  margin: auto;
  width: 375px;
  height: 744px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Hero\ section.png");
  padding: 48px 16px 0px;
}
.p-j-home-title {
  font-family: Chewy;
  font-weight: 400;
  font-style: Regular;
  font-size: 48px;
  leading-trim: NONE;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  color: #045cb5;
}

.p-j-home-text {
  font-family: Rubik;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  padding-top: 12px;
}
.p-j-home-link {
  transition: all 0.3s ease-in-out;
  border: 4px solid #ffffff;
  background: #f14a7e;
  font-family: Rubik;
  font-weight: 500;
  font-style: Medium;
  font-size: 18px;
  leading-trim: NONE;
  line-height: 22px;
  letter-spacing: 0%;
  color: #ffffff;
  text-decoration: none;

  text-align: center;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 12px;
  padding-left: 32px;
  border-radius: 50px;
  display: block;
  margin-top: 24px;
}

.p-j-home-link:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 1202px) {
  .p-j-home-container-top {
    margin: auto;
    width: 1440px;
    height: 1005px;
    background-image: url("/img/Hero\ section\ \(1\).png");
    padding: 64px 416px 0px;
  }
  .p-j-home-title {
    font-family: Chewy;
    font-weight: 400;
    font-style: Regular;
    font-size: 52px;
    leading-trim: NONE;
    line-height: 62px;
    letter-spacing: 0%;
    text-align: center;
  }

  .p-j-home-link {
    width: 306px;

    margin: 24px auto 0;
    padding-top: 12px;
    padding-right: 32px;
    padding-bottom: 12px;
    padding-left: 32px;
    border-radius: 50px;
    border-width: 4px;
  }
}
.p-j-about {
  margin: auto;
  background: #8d208b;
}
.p-j-about-container {
  color: #f2f2ff;
  width: 375px;
  height: 715px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Main\ frame.png");
  padding: 48px 16px 0px;
  margin: auto;
}
.p-j-about-div {
  display: flex;
  flex-direction: column;

  gap: 250px;
}
.p-j-about-title {
  font-family: Chewy;
  font-weight: 400;
  font-style: Regular;
  font-size: 36px;
  leading-trim: NONE;
  line-height: 42px;
  letter-spacing: 0%;
  text-align: center;
}
.p-j-about-text {
  font-family: Rubik;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 26px;
  letter-spacing: 0px;
}

@media screen and (min-width: 1202px) {
  .p-j-about-container {
    width: 1440px;
    padding: 100px 182px;
    height: 673px;
    background-image: url("/img/Main\ frame\ \(1\).png");
  }
  .p-j-about-div {
    display: flex;
    flex-direction: column;
    gap: 117px;
  }
  .p-j-about-title {
    font-family: Chewy;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 42px;
    letter-spacing: 0%;
    text-align: center;
  }
  .p-j-about-text-two {
    width: 400px;
    margin-left: auto;
  }
}
.p-j-why {
  margin: auto;
  background: #e5fb59;
}

.p-j-why-container {
  width: 375px;

  height: 1138px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Main\ Frame\ \(2\).png");
  margin: auto;
  padding: 48px 16px;
}
.p-j-why-list {
}
.p-j-why-item {
  padding: 326px 18px 0;
  display: flex;
  flex-direction: column;
  gap: 346px;
}

@media screen and (min-width: 1202px) {
  .p-j-why-container {
    width: 1440px;

    height: 862px;

    background-image: url("/img/Main\ Frame\ \(3\).png");
    margin: auto;
    padding: 100px 232px 0;
  }
  .p-j-why-list {
  }
  .p-j-why-item {
    padding: 452px 0px 0;
    display: flex;
    flex-direction: row;
    gap: 148px;
  }
}

.p-j-uniqueness {
  margin: auto;
  background: #59d7fc;
}
.p-j-uniqueness-container {
  margin: auto;
  width: 375px;

  height: 579px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Contact.png");
  padding: 48px 16px 0;
}
.p-j-uniqueness-list {
  gap: 16px;
}
.p-j-uniqueness-item {
  margin: 0;
}

@media screen and (min-width: 1202px) {
  .p-j-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 952px 0 182px;
    height: 615px;
    background-image: url("/img/Contact\ \(1\).png");
  }
}
.p-j-how {
  margin: auto;
  background: #59d7fc;
}
.p-j-how-container {
  margin: auto;
  width: 375px;
  height: 347px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Container.png");
  padding: 102px 60px 0;
}
.p-j-how-list {
  gap: 8px;
}
.p-j-how-text {
  font-family: Chewy;
  font-weight: 400;
  font-style: Regular;
  font-size: 24px;
  leading-trim: NONE;
  line-height: 28px;
  letter-spacing: 0%;
}
.p-j-how-item {
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 130%;
  letter-spacing: 0.12%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .p-j-how-container {
    margin: auto;
    width: 1440px;
    height: 664px;

    background-image: url("/img/Container\ \(1\).png");
    padding: 250px 512px 0;
  }
  .p-j-how-list {
    gap: 16px;
  }
  .p-j-how-text {
    font-family: Chewy;
    font-weight: 400;
    font-style: Regular;
    font-size: 36px;
    leading-trim: NONE;
    line-height: 42px;
    letter-spacing: 0%;
  }
  .p-j-how-item {
    font-family: Rubik;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
  }
}

.p-j-gallery {
  background: #79d14d;
}
.p-j-gallery-container {
  width: 375px;
  margin: auto;
  padding: 48px 18px 48px 16px;
}
.p-j-gallery-list {
  width: auto;
  padding-top: 28px;
  margin: auto;
}

.p-j-gallery-item {
  width: 278px;

  overflow: hidden;
  position: relative;
  margin: 0 10px;
}

.p-j-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.p-j-gallery-button-container {
  display: none;
}
.p-j-about-text-three {
  gap: 16px;
}
.p-j-gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.p-j-gallery-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 24px;
}

.p-j-gallery-button {
  background-color: transparent;
  border: none;
  padding: 0;
  -webkit-transition: scale 0.3s ease;
  transition: scale 0.3s ease;
}
.p-j-gallery-button-icon {
  width: 24px;
}
.p-j-gallery-button:hover {
  scale: 120%;
}
@media screen and (min-width: 1202px) {
  .p-j-gallery-container {
    width: 1440px;
    margin: auto;
    padding: 100px 73px 100px 183px;
  }
  .p-j-about-text-three {
    gap: 98px;
    flex-direction: row;
    width: 966px;
  }
  .p-j-gallery-item {
    width: 278px;
    margin: 0 12px;
  }

  .p-j-gallery-list {
    padding-top: 72px;
  }
  .p-j-gallery-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 24px;
  }
}

.p-j-policy-terms-container {
  padding: 112px 16px 32px;
  width: 375px;
  margin: auto;
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.12px;
  color: #565656;
}

.p-j-policy-terms-container h1 {
  color: #141428;

  margin-bottom: 8px;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 40px;
  leading-trim: NONE;
  line-height: 48px;
  letter-spacing: 0.12px;
}
.p-j-policy-terms-container h2,
.p-j-policy-terms-container h3 {
  color: #141428;
  font-family: Inter;
  font-weight: 500;
  font-style: Medium;
  font-size: 20px;
  leading-trim: NONE;
  line-height: 24px;
  letter-spacing: 0.12px;

  margin-bottom: 8px;
}
.p-j-policy-terms-container ul {
  list-style-type: disc;
  margin-left: 20px;
  margin-bottom: 8px;
}
.p-j-policy-terms-container p {
  color: #565656;
  margin-bottom: 8px;
}
.p-j-policy-terms-container a {
  color: #2c03f9;
}
@media screen and (min-width: 1202px) {
  .p-j-policy-terms-container {
    padding: 112px 72px 32px;
    width: 1440px;
  }
}

.p-j-footer-container {
  width: 375px;
  padding: 48px 16px 24px;
  margin: auto;
  display: flex;
  flex-direction: column;
  color: #f2f2ff;
}
.p-j-footer-img {
  width: 80px;
  height: 80px;
  border-radius: 10px;
}
.p-j-footer-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4px;
  font-family: Rubik;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  leading-trim: NONE;
  line-height: 26px;
  letter-spacing: 0px;
  text-align: center;
  padding: 84px 0 16px;
}

.p-j-footer-text {
  text-decoration: none;
  color: inherit;
}

.p-j-footer-copyright {
  font-family: Rubik;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  leading-trim: NONE;
  line-height: 16px;
  letter-spacing: 0.12%;
  text-align: center;
}

@media screen and (min-width: 1202px) {
  .p-j-footer-container {
    width: 1440px;
    padding: 48px 72px 24px;
  }

  .p-j-footer-wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
    font-family: Rubik;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
  }

  .p-j-footer-text {
  }

  .p-j-footer-copyright {
    font-family: Rubik;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    leading-trim: NONE;
    line-height: 16px;
    letter-spacing: 0.12%;
    text-align: center;
  }
}

.p-j-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(149, 49, 133, 1);
  box-shadow: 0px 14px 42px 0px rgba(8, 15, 52, 0.06);
  z-index: 1000;
  display: none;
}
